html, body {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: Oswald;
}

#footerbar {
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	background-color: #fff;
	padding: 5px;
	padding-left: 10px;
	padding-right: 15px;
	position: absolute;
	bottom: 0px;
	z-index: 4;
	border-top: 1px solid #aaa;
}

#mainbar {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	background-color: #fff;
	padding: 5px;
	padding-left: 10px;
	padding-right: 15px;
	position: relative;
	z-index: 3;
	border-bottom: 1px solid #aaa;
}

#mainlogo {
	font-family: Oswald;
	width: 50px;
	height: 50px;
	background: url("../svg/calendar.svg");
	background-size: 200% 100%;
	margin: 0px;
	float: left;
	display: inline-block;
}

#maintitle {
	font-size: 20px;
	height: 20px;
	margin: 0px;
	margin-top: 10px;
	float: left;
	display: inline-block;
}

#main {
	top: 0px;
	position: absolute;
	background: url("../img/calendar-bg.jpg");
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: 2;
}

.dentist {
	background: url("../svg/tooth.svg");
	width: 100px;
	height: 100px;
	background-size: cover;
	position: absolute;
	right: -30px;
	top: -30px;
	-ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Chrome, Safari, Opera */
	-o-transform: rotate(20deg); /* Opera */
    transform: rotate(20deg);
}

#main::before {
	content: " ";
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #fff;
}

#promo {
	box-sizing: border-box;
	width: 400px;
	height: 500px;
	white-space: normal;
	font-size: 25px;
	color: white;
	background-color: #eee;
	border-radius: 0px 0px 0px 40px;
	border: 1px solid #555;
	padding: 20px;
	padding-top: 60px;
}

#promo::before {
	box-sizing: border-box;
	content: " ";
	top: 0px;
	right: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #3f85f6;
	border-radius: 0px 0px 100px 40px;
	border: 1px solid #555;
	z-index: -1;
}



#promo::after {
	box-sizing: border-box;
	content: " ";
	top: 0px;
	right: 0px;
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #aaa;
	z-index: -1;
}

#promo-mobile {
	white-space: normal;
	font-size: 30px;
	color: white;
	padding: 15px;
	padding-top: 55px;
	background-color: #eee;
	border-radius: 0px 0px 0px 40px;
	border: 1px solid #555;
	width: 100%;
	position: relative;
}

#promo-mobile::before {
	box-sizing: border-box;
	content: " ";
	top: 0px;
	right: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #3f85f6;
	border-radius: 0px 0px 100px 40px;
	border: 1px solid #555;
	z-index: -1;
}

#promo-mobile::after {
	box-sizing: border-box;
	content: " ";
	top: 0px;
	right: 0px;
	position: absolute;
	width: 100%;
	height: 40px;
	background-color: #aaa;
	z-index: -1;
}

#submit-box-mobile {
	width: 100%;
	height: 60px;
	position: relative;
	text-align: center;
	margin-top: 20px;
}

.floater {
	box-sizing: border-box;
	height: 70px;
	width: 70px;
	position: fixed;
	padding: 0px;
	border-radius: 35px;
	border: 5px solid #458ff6;
	color: white;
	background: url("../svg/pencil.svg");
	cursor: pointer;
	z-index: 5;
}

#float-button-tab {
	right: 30px;
	bottom: 30px;
}

#float-button-mob {
	left: 50%;
	bottom: 40px;
	height: 80px;
	width: 80px;
	border-radius: 40px;
	transform: translate(-50%, 0%);
}

#main-content {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	height: calc(100% - 60px);
	z-index: 2;
}

#main-content>input[type="radio"] {
	display: none;
}

#m-users:checked ~ div #detailed>#detailed-pic{
	background-image: url("../svg/person.svg");
}
#m-users:checked ~ div  #detailed>#detailed-data-user{
	display: block;
}
#m-users:checked ~ div  #detailed>#detailed-data-circle, #m-users:checked ~ div  #detailed>#detailed-data-event{
	display: none;
}

#m-circles:checked  ~ div  #detailed>#detailed-pic {
	background-image: url("../svg/circles.svg");
}
#m-circles:checked  ~ div #detailed>#detailed-data-circle{
	display: block;
}
#m-circles:checked  ~ div #detailed>#detailed-data-user, #m-circles:checked  ~ div #detailed>#detailed-data-event{
	display: none;
}

#m-events:checked  ~ div  #detailed>#detailed-pic {
	background-image: url("../svg/pencil-transp.svg");
}
#m-events:checked  ~ div #detailed>#detailed-data-event{
	display: block;
}
#m-events:checked  ~ div #detailed>#detailed-data-circle, #m-events:checked ~ div  #detailed>#detailed-data-user{
	display: none;
}

#groups-notifications:checked  #detailed>#detailed-pic {
	background-image: url("../svg/bell.svg");
}
#groups-notifications:checked #detailed>#detailed-data-user, #groups-notifications:checked #detailed>#detailed-data-circle, #groups-notifications:checked #detailed>#detailed-data-event{
	display: none;
}

#sidebar {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 200px;
	background-color: #458ff6;
}

#topbar {
	position: absolute;
	left: 200px;
	top: 0px;
	height: 30px;
	width: calc(100% - 200px);
	background-color: #458ff6;
}

#mainb {
	position: absolute;
	left: 200px;
	top: 30px;
	height: calc(100% - 30px);
	width: calc(100% - 200px);
	overflow: hidden;
}

#mainc  {
	position: absolute;
	left: 200px;
	top: 30px;
	height: calc(100% - 30px);
	width: calc(100% - 450px);
	overflow: hidden;
}

#detailed {
	position: absolute;
	right: 0px;
	top: 30px;
	height: calc(100% - 30px);
	width: 250px;
	overflow: hidden;
	background-color: #458ff6;
}

#detailed-pic {
	position: relative;
	margin: 50px;
	width: 150px;
	height: 150px;
	background-size: 150px 150px;
	border-radius: 50%;
}

#detailed-data-user, #detailed-data-circle, #detailed-data-event {
	position: relative;
	margin-left: 50px;
	margin-right: 50px;
	width: 150px;
	height: 300px;
}


#mainm {
	position: absolute;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#main-bg {
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	height: calc(100% - 60px);
	background: url("../img/calendar-bg.jpg");
	background-size: cover;
}

#main-bg::before {
	content: " ";
	top: 0px;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.98;
	background-color: #fff;
}

#circles {
	position: absolute;
	top: -35px;
	left: 10px;
	background: url("../svg/circles.svg");
	background-size: cover;
	width: 30px;
	height: 30px;
	margin: 0px;
}

#circles::after {
	color: white;
	content: "CIRCLES";
	left: 40px;
	margin-top: 3px;
	position: absolute;
}

#h {
	position: absolute;
	top: -35px;
	left: 10px;
	background: url("../svg/bell.svg");
	background-size: cover;
	width: 30px;
	height: 30px;
}

#h::after {
	color: white;
	content: "NEXT 24H";
	left: 40px;
	width: 70px;
	margin-top: 3px;
	position: absolute;
}

.registerWindow, .loginWindow, .createWindow {
	z-index: 5;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	position: fixed;
	display: none;
}

.registerWindow:before {
}

.registerWindow>div.curtain, .loginWindow>div.curtain, .createWindow>div.curtain{
	z-index: 5;
	opacity: 0.8;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #aaaaaa;
}

.reg, .log, .crt {
	display: none;
	padding: 5px;
	font-size: 10px;
}

.reg:checked ~ .registerWindow {
	display: block;
}

.log:checked ~ .loginWindow  {
	display: block;
}

.crt:checked ~ .createWindow {
	display: block;
}

.inputWindow {
	height: 400px;
	width: 350px;
	background-color: white;
	z-index: 6;
	box-sizing: border-box;
	padding: 80px;
}

.close {
	position: absolute;
	top: 6px;
	right: 13px;
}

.no-overflow {
	overflow: hidden !important;
}

.side-list {
	position: relative;
	width: 160px;
	height: calc(50% - 90px);
	margin: 20px;
	margin-top: 60px;
	background-color: white;
}

.side-list-c {
	list-style-type:none;
	padding: 0px;
	width: 100%;
	height: 100%;
	margin: 0px;
	margin-top: 30px;
	overflow-y: scroll;
}

.side-list-c>li {
	width: 100%;
	height: 50px;
	border: 1px solid #357fd6;
	background: #458ff6;
	padding: 9px;
	padding-left: 15px;
	box-sizing: border-box;
}

.side-list-c>li:hover {
	background: #357fd6;
}

.side-list-c>li>label {
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.side-list-e {
	width: 100%;
	height: 25px;
	color: white;
}

.solid-border {
	border: 1px solid #eee;
	box-sizing: border-box;
}

.turn-page {
	font-size: 240px;
	opacity: 0.1;
}

.relative {
	position: relative;
}

.full-height {
	height: 100% !important;
}

.full-width {
	width: 100% !important;
}

.input-text {
	height: 20px;
	font-size: 15px;
}

.submitCenter {
	margin: 0px;
	height: 60px;
	width: 100%;
}

.submitCenter>input {
	margin: 0px !important;
	width: 60px;
	height: 35px;
}

.regInputWindow {
	padding-top: 30px !important;
}

.marg {
	margin-bottom: 8px !important;
}

.zero-margin {
	margin: 0px !important;
}

.hide-overflow {
	overflow: hidden !important;
}

.auto-overflow {
	height: auto !important;
}

.create {
	background-color: #458ff6;
	margin: 0 !important;
	cursor: pointer;
}

.create:hover {
	background-color: #357fd6;
}

.userFrame {
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	margin-bottom: 20%;
    padding-top: 60%;
	border-radius: 50%;
	background-image: url("../svg/person.svg");
}

.submit {
	font-family: Oswald;
	height: 30px;
	border-radius: 7px;
	background-color: #458ff6;
	margin: 8px;
	color: white;
	font-size: 15px;
	box-sizing: border-box;
	padding: 4px;
}

.submit-mobile {
	font-family: Oswald;
	height: 50px;
	border-radius: 7px;
	background-color: #458ff6;
	margin: auto;
	color: white;
	font-size: 20px;
	box-sizing: border-box;
	padding: 5px;
	border: 1px solid white;
	margin: 0 auto;
}

.inline {
	display: inline-block;
}

.right-abs {
	float: right;
	position: relative;
}

.left-abs {
	float: left;
	position: relative;
}

.search {
	margin-left: 100px;
}

.center-wrap {
	position: relative;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hor-align-mobile {
	position: relative;
}

.search-form {
	position: absolute;
	left: 70px;
	top: -1px;
	width: 250px;
	height: 30px;
	padding:0;
}


.search-form>input[type="submit"] {
	margin: 0px !important;
	border: none;
	cursor: pointer;
}

.search-form>input[type="submit"]:hover {
	background-color: #357fd6;
}

.gender-select {
	position: relative;
	list-style-type: none;
	height: 60px;
	margin: 0px;
	padding: 0;
	
}

.gender-select>li {
	float: left;
	width: 33.3%;
	height: 30px;
	position: relative;
	text-align: center;
	color: white;
}

.gender-select label, .gender-select input {
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.gender-select input[type="radio"] {
	display: none;
	z-index:5;
}

.gender-select label {
	padding:1px;
	cursor:pointer;
	z-index:4;
	background: #458ff6;
}

.gender-select input[type="radio"]:checked + label {
	background: #357fd6;
}

.gender-select input#other:checked ~ #genderopt {
	display: block;
}

#genderopt {
	margin-top: 35px;
	margin-left: -200%;
	width: 300% !important;
	display: none;
}

#m-users-label {
	background-image: url("../svg/person-transp.svg");
}

#m-circles-label {
	background-image: url("../svg/circles.svg");
}

#m-events-label {
	background-image: url("../svg/pencil-transp.svg");
}

.mobile-selection {
	position: relative;
	list-style-type:none;
	height: 100%;
	margin: 0px;
	padding:0;
}

.mobile-selection-form {
	position: absolute;
	right: 50px;
	top: 0px;
	width: 240px;
	height: 100%;
	padding:0;
}

.mobile-selection>li {
	float: left;
	width: 60px;
	height: 100%;
	position: relative;
	text-align: center;
	color: white;
}

.mobile-selection label {
	height: 60px;
	width: 60px;
	background-size: 40px 40px;
	background-position: 10px 10px; 
    background-repeat: no-repeat;
	box-sizing: border-box;
	transition: background-size .25s, background-position .25s;
	-webkit-transition: background-size .25s, background-position .25s;
	-o-transition: background-size .25s, background-position .25s;
	-moz-transition: background-size .25s, background-position .25s;
}

.mobile-selection label, .mobile-selection input {
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.repeatable {
	padding: 5px;
	background-color: #4286f4;
	border-radius: 5px;
	overflow: hidden;
	height: 100px;
	color: white;
	margin-bottom: 3px;
	cursor: pointer;
}

.repeatable *{
	position: relative;
	width: 100%;
	word-wrap:break-word;
	white-space: normal !important;
	margin-bottom: 5px;
}

.mobile-selection input[type="radio"] {
	display: none;
	z-index:5;
}

#marks {
	height: 30px;
}


#m-circles, #m-events, #m-users{
	display: none;
}

#m-circles:checked ~ div #circles-grid {
	display: block;
}
#m-circles:checked ~ div #users-grid, #m-circles:checked ~ div #events-grid{
	display: none;
}

#m-users:checked ~ div #users-grid {
	display: block;
}
#m-users:checked ~ div #circles-grid, #m-users:checked ~ div #events-grid{
	display: none;
}

#m-events:checked ~ div #events-grid {
	display: block;
}
#m-events:checked ~ div #users-grid, #m-events:checked ~ div #circles-grid{
	display: none;
}

#m-circles:checked ~ div #m-circles-label {
	background-size: 50px 50px;
	background-position: 5px 5px; 
	border-bottom: 3px solid black;
}

#m-events:checked ~ div #m-events-label {
	background-size: 50px 50px;
	background-position: 5px 5px; 
	border-bottom: 3px solid black;
}

#m-users:checked ~ div #m-users-label {
	background-size: 50px 50px;
	background-position: 5px 5px; 
	border-bottom: 3px solid black;
}

.mobile-selection label {
	padding:1px;
	cursor:pointer;
	z-index:4;
}

.mobile-selection label:hover {
	background-size: 50px 50px;
	background-position: 5px 5px; 
}


.time-period {
	position: relative;
	list-style-type:none;
	height: 30px;
	margin: 0px;
	padding:0;
}

.time-period-form {
	position: absolute;
	right: 50px;
	top: 0px;
	width: 240px;
	height: 30px;
	padding:0;
}

.time-period>li {
	float:left;
	width:60px;
	height:30px;
	position:relative;
	text-align: center;
	color: white;
}

.time-period label, .time-period input {
	display:block;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

.time-period input[type="radio"] {
	display: none;
	z-index:5;
}

.time-period input[type="radio"]:checked + label {
	background: #357fd6;
}

.time-period label {
	padding:1px;
	cursor:pointer;
	z-index:4;
	background: #458ff6;
}

.time-period label:hover {
	background:#357fd6;
}
