<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Events | eCalendar</title>
		<meta name="description" content="Spletna aplikacija/koledar" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/responsive.css" />
		<link rel="stylesheet" href="./css/default.css" />
		<script type="text/javascript" src="./script/mingular.js" /></script>
		<script type="text/javascript" src="./script/main.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
	</head>
	<body>
		<div data-mng-app="my-app" data-mng-ctrl="my-ctrl">
			<header id="mainbar">
				<div id="mainlogo" class="s-hide"></div>
				<div id="maintitle" class="s-hide">eCalendar</div>
				<!--Ce user nima vkljucenega javascripta lahko submita preko php na server-->
				<div>
					<form class="inline right-abs" action="./logout.php" method="get">
						<input type="submit" value="Logout" class="submit"></input>
					</form>
					<form action="" class="mobile-selection-form w-hide l-hide">
						<ul class="mobile-selection">
							<li>
								<input type="radio" id="m-circles" name="mob"/>
								<label for="m-circles" id="m-circles-label"></label>
							</li>
							<li>
								<input type="radio" id="m-events" name="mob" checked/>
								<label for="m-events" id="m-events-label"></label>
							</li>
						</ul>
					</form>
				</div>
			</header>
			<div id="main-bg">
			</div>
			<main id="main-content">
				<div id="sidebar" class="s-hide m-hide">
					<div class="side-list">
						<div id="circles"></div>
						<ul data-dynamic-circles class="side-list-c">
							<li data-mng-repeat="circle in circles" class="side-list-e">
								
							</li>
						</ul>
					</div>
					<div class="side-list">
						<div id="h"></div>
						<ul data-dynamic-24h class="side-list-c">
							<li data-mng-repeat="event in events" class="side-list-e">
							</li>
						</ul>
					</div>
				</div>
				<div id="topbar" class="s-hide m-hide">
					<form class="s-hide m-hide search-form" action="./search.php" method="get">
						<input type="text" placeholder="Search event" name="search" class="inline">
						<input type="submit" value="Search" class="submit inline"></input>
					</form>
					<input type="checkbox" name="checkbox" id="create" class="crt" value="value">
					<label for="create" class="submit inline create s-hide m-hide l-hide">Create</label>
					<div class="createWindow">
						<div class="curtain"></div>
						<div class="center-wrap full-height">
							<div class="inputWindow center">
								<label for="create" class="close">X</label>
							</div>
						</div>
					</div>
					<form action="" class="time-period-form">
						<ul class="time-period">
							<li>
								<input type="radio" id="day" name="period" />
								<label for="day">Day</label>
							</li>
							<li>
								<input type="radio" id="week" name="period" checked/>
								<label for="week">Week</label>
							</li>
							<li>
								<input type="radio" id="month" name="period" />
								<label for="month">Month</label>
							</li>
							<li>
								<input type="radio" id="agenda" name="period" />
								<label for="agenda">Agenda</label>
							</li>
						</ul>
					</form>
				</div>
				<div id="mainb" class="m-hide s-hide">
					<div class="grid full-height gw7 gl7" data-dynamic-grid>
						<div class="w1 l1 full-height solid-border">
						</div>
						<div class="w1 l1 full-height solid-border">
						</div>
						<div class="w1 l1 full-height solid-border">
						</div>
						<div class="w1 l1 full-height solid-border">
						</div>
						<div class="w1 l1 full-height solid-border">
						</div>
						<div class="w1 l1 full-height solid-border">
						</div>
						<div class="w1 l1 full-height solid-border">
						</div>
					</div>
				</div>
				<div id="mainm" class="l-hide w-hide">
					<div class="grid full-height" data-dynamic-grid>
						<div class="m12 s12 full-height solid-border">
						</div>
					</div>
				</div>
			</main>
			<footer id="footerbar" class="s-hide m-hide l-hide">
			</footer>
			<floater id="float-button-tab" class="w-hide m-hide s-hide">
				
			</floater>
			<floater id="float-button-mob" class="w-hide l-hide">
				
			</floater>
		</div>
	</body>
</html>