<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Events | eCalendar</title>
		<meta name="description" content="Spletna aplikacija/koledar" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./css/responsive.css" />
		<link rel="stylesheet" href="./css/default.css" />
		<script type="text/javascript" src="./script/mingular.js" /></script>
		<script type="text/javascript" src="./script/main.js"></script>
		<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" />
	</head>
	<body>
		<div data-mng-app="my-app" data-mng-ctrl="my-ctrl">
			<header id="mainbar">
				<div id="mainlogo"></div>
				<div id="maintitle">eCalendar</div>
				<form class="inline left-abs search s-hide m-hide" action="./search.php" method="get">
					<input type="text" placeholder="Search" name="search">
					<input type="submit" value="Search" class="submit"></input>
				</form>
				<!--Ce user nima vkljucenega javascripta lahko submita preko php na server-->
				<div class="s-hide m-hide">
					<form class="inline right-abs" action="./logout.php" method="get">
						<input type="submit" value="Logout" class="submit"></input>
					</form>
				</div>
			</header>
			<div id="main-bg">
			</div>
			<main id="main-content">
				<div id="sidebar" class="s-hide m-hide">
					<div class="side-list">
						<div id="circles"></div>
						<ul data-dynamic-circles class="side-list-c">
							<li data-mng-repeat="circle in circles" class="side-list-e">
								
							</li>
						</ul>
					</div>
					<div class="side-list">
						<div id="h"></div>
						<ul data-dynamic-24h class="side-list-c">
							<li data-mng-repeat="event in events" class="side-list-e">
							</li>
						</ul>
					</div>
				</div>
				<div id="topbar" class="s-hide m-hide">
					<form action="" class="time-period-form">
						<ul class="time-period">
							<li>
								<input type="radio" id="day" name="period" />
								<label for="day">Day</label>
							</li>
							<li>
								<input type="radio" id="week" name="period" checked/>
								<label for="week">Week</label>
							</li>
							<li>
								<input type="radio" id="month" name="period" />
								<label for="month">Month</label>
							</li>
							<li>
								<input type="radio" id="agenda" name="period" />
								<label for="agenda">Agenda</label>
							</li>
						</ul>
					</form>
				</div>
				<div id="mainb">
					<div class="grid full-height gw7 gl7 m12 a12" data-dynamic-grid>
						<div class="w1 l1 full-height solid-border" data-mng-repeat="day in days">
						</div>
					</div>
				</div>
			</main>
			<footer id="footerbar" class="s-hide m-hide l-hide">
			</footer>
			<floater id="float-button-tab" class="w-hide m-hide s-hide">
				
			</floater>
			<floater id="float-button-mob" class="w-hide l-hide">
				
			</floater>
		</div>
	</body>
</html>